<html>

<head>
  <meta charset="utf-8">
  <title>Books</title>
  {% include "bootstrap.html" %}
  {% load static %}
  <link rel="stylesheet" href="{%static 'CSS/book_view.css' %}"/>
    {% include "nav.html" %}
</head>
<body>
<br>
  <form method="POST" action = "/books/" enctype="multipart/form-data" align = "center">
    <div class = "search">
      {% csrf_token %}
        {{form_data}}
      <input type="submit" class="btn btn-info" name="search_books" value="Search">
    </div>
  </form>
  <div class = "aggregate_display">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <b>General Score</b>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b>Follows Score</b><br>
    {{general_aggregate}}/5
    {% if general_icon == "low" %}
      <img class="score_icon" src="{%static 'permanent_images/broken_heart.png' %}">
    {% elif general_icon == "mid" %}
      <img class="score_icon" src="{%static 'permanent_images/half_heart.png' %}">
    {% elif general_icon == "high" %}
      <img class="score_icon" src="{%static 'permanent_images/full_heart.png' %}">
    {% endif %}

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{follows_aggregate}}/5

    {% if follows_icon == "low" %}
      <img class="score_icon" src="{%static 'permanent_images/broken_heart.png' %}">
    {% elif follows_icon == "mid" %}
      <img class="score_icon" src="{%static 'permanent_images/half_heart.png' %}">
    {% elif follows_icon == "high" %}
      <img class="score_icon" src="{%static 'permanent_images/full_heart.png' %}">
    {% endif %}
  </div>
<br>
  {% if book_cover == 'no_book'%}
    <img src="https://www.freeiconspng.com/uploads/no-image-icon-6.png" class = "cover" alt="Book Cover">
  {%else%}
    <img class="cover" src="{{book_cover}}" alt="Book Cover">
  {%endif%}
  <div class = "title">
     <b>{{book_title}}</b>
  </div>
  <br><br><br><br><br>
  <div class = "container">
    <p class = "paragraph">  {{book_description}} </p>
  </div>
  <div class = "container2">
      tags:
      {%for subject in book_subjects%}
      <b>  <i>{{subject}}, </i> </b>
      {%endfor%}
  </div>
  {% if author_image == "no_photo"%}
    <img class="author_photo" src="https://www.freeiconspng.com/uploads/no-image-icon-0.png" alt="Author Image">
  {%else%}
    <img class="author_photo" src="{{author_image}}" alt="Author Image">
  {%endif%}

  <div class = "name">
    Author: <u>{{author_name}}</u>
  </div>
  {% if my_review_exists == 0 %}
  <form method="POST" action="/books/book_review/">
    <div class = "btn_center">
      <button input type="submit" class="btn btn-warning" value="{{book_id}}" name = "review">Leave a Review!</button>
      {% csrf_token %}
    </div>
  </form>
  {% else %}
  <div class="jumbotron my_review">
  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
      Your Review
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
      Recent General Reviews
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
      Recent Critic Reviews
    </button>
  </p>
    <div class="collapse" id="collapseExample1">
      <div class = "text-center">
        <b>Your Review</b> <br>
        <i>Rating: {{my_star_review}}/5 </i><br><br>
      </div>
      <div class = "indent-text">
        {{my_text_review}}
      </div>
    </div>
    <div class="collapse" id="collapseExample2">
      <div class = "text-center">
        <b>Recent Review</b> <br>
        <i>Rating: {{general_star_review}}/5 </i><br><br>
      </div>
      <div class = "indent-text">
        {{general_text_review}}
      </div>
    </div>
    <div class="collapse" id="collapseExample3">
      <div class = "text-center">
      Critic review placeholder
    </div>
    </div>
  </div>
  {% endif %}
</body>
</html>
