<html>

<head>
  <meta charset="utf-8">
  <title>Books</title>
  {% include "bootstrap.html" %}
  {% load static %}
  <link rel="stylesheet" href="{%static 'CSS/books.css' %}"/>
    {% include "nav.html" %}
</head>
<body>
  <br>
    <form method="POST" action = "" enctype="multipart/form-data" align = "center">
      <div class = "search">
        {% csrf_token %}
          {{form_data}}
        <input type="submit" class="btn btn-info" name="search_books" value="Search">
      </div>
    </form>
  <br>
  <div class = "cards">
    {%for book in book_preview%}
      <div class="card bg-dark text-white">
        <img class="card-img-top yes-img" src="{{book.1}}" alt="Card image cap">
      <div class = "card-body">
        <p class = "card-text" >{{book.0}}</p>
      </div>
      <div class="card-body text-center">
        <button type="button" class="btn btn-info">Favorite</button>
      </div>
      </div>
    {%endfor%}
  </div>
</body>


</html>
