<head>
  <meta charset="utf-8">
  <title>Readerhub Project</title>
  {% load static %}
  {% include "bootstrap.html" %}
  <link rel="stylesheet" href="{%static 'CSS/about.css' %}"/>

</head>
<body>
  {% include "nav.html" %}
  <h1 class = "title text-black" align = "center"><b>ReaderHub</b></h1>
  <div class = "container">
  <div class="row justify-content-center b">

  <div class="jumbotron bg-dark text-white text-center">


  <p class = "paragraph "><i>This website is to help readers connect with one another who have a common passion for books. We hope you will be able to find and discover new books that suit your tastes. Here you will be able to engage in lengthy discussions about your favorite series, or a new book you just read.
    You will also be able to keep up with new releases and any news relating to books. Make friends and discover new horizons!</i></p>
    <br>
  <p class = "paragraph"><i>
    Created by: Anna Di lulio, Aryan Mittal, Douglas Richards, Elijah Willis, Jesse Coulson, and Max Hibbard
  </i></p>
  </div>
</div>
</div>
