.prof-container {
  margin-left: 0;
  margin-right: 0;
}

.profile-card {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: justify;
  width: 10rem;
  align-self: center;
}

.prof-h3 {
  text-align: center;
  margin: 1rem 0rem 1rem;
}

.prof-text {
  padding-top: 4%;
  padding-bottom: 4%;
}

.prof-text div {
  background-color: antiquewhite;
}

.profile-card img {
  display: block;
  margin: 0 auto;
}

.prof-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.posts-col {
  margin-left: 10px;
  margin-right: 10px;
}

.posts-card {
  margin-top: 5px;
  margin-bottom: 5px;
}

.posts-img {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 50%;
}

.posts-text {
  font-size: 1em;
}

.fav-book-cards {
  margin-left: 5px;
  margin-right: 5px;
}



.rounded {
  max-width: 75px;
  max-height: 75px;
  margin: 0 auto;
}

td {
  color: white;
}

h3 {
  margin: 2rem 0rem 1rem;
  font-family: Roboto;
}

body {
  background-color: rgb(55, 71, 53);
}

.another-btn {
  border-style: solid;
  border-color: white;
  opacity: .98;
}

.first-btn {
  border-style: solid;
  border-color: white;

  font-size: 35px;
  opacity: .98;
  padding: 2% 0;
}

p {
  font-family: Roboto;
  font-size: 25px;
}

.book-card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.card-text {
  text-align: center;
}

.book-cards {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.book-card {
  border: 2px solid;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  width: 20rem
}
