<html>

<head>
  <meta charset="utf-8">
  <title>Profile</title>
  {% include "bootstrap.html" %}
  {% load static %}
  <link rel="stylesheet" href="{%static 'CSS/personalization.css' %}" />
</head>

<body>
  {% include "nav.html" %}
  {% if not profile.about_user%}
  <!--If there is no user profile-->
  <div class="row">
    <div class="col-12">
      <div class="container" align="center">
        <form method="GET" action="/personalization/edit_profile/{{ profile.id }}/">
          <br><br><br><br><br><br><br><br><br><br>
          <input type="submit" class="btn btn-success btn-lg first-btn" value="Create Profile">
        </form>
      </div>
    </div>
  </div>
  {% else %}
  <!--If there is a user profile-->
  <div class="container-fluid px-0 prof-container">
    <div class="row text-center no-gutters">
      <!--Display profile pic-->
      <div class="col-md-3 profile-card">
        {% if profile.personal_image %}
        <img class="prof-img rounded-circle" src="{{profile.personal_image.url }}" alt="Card image cap">
        {% else %}
        <img class="prof-img rounded-circle" src="{%static 'permanent_images/default_profile.png' %}"
          alt="Card image cap">
        {% endif %}
        <h3 class="text-center prof-h3">{{ profile.user }}</h3>
      </div>
      <!--Display about user (need to fix line break issue, should show more than 1 line)-->
      <div class="col prof-text">
        <div class="d-flex p-2">
          <p class="psteps" style="margin-bottom: 0;">{{ profile.about_user|linebreaksbr }}</p>
        </div>
      </div>
      <div class="col-sm-2 align-self-center">
        <td><a class="btn btn-warning btn-lg " href="/personalization/edit_profile/{{ profile.id }}/">Edit</a>
      </div>
    </div>
  </div>

  <div class="container-fluid px-0 prof-container">
    <div class="row text-center no-gutters">
      <div class="col-md-3 posts-card">
        <p class="text-center title"><b>Posts</b></p>
        {% if posts %}

        <!--Dsiplay posts-->
        {% for row in posts|slice:":5" %}
        <!--"|slice":5" insicates only show 5-->
        <div class="card">
          <div class="row no-gutters">
            <div class="col-auto" style="width: 50%;">
              {% if row.book_object.favorite_cover == 'no_book' %}
              <img class="" style="width: 50%" src="https://www.freeiconspng.com/uploads/no-image-icon-6.png"
                alt="Card image cap">
              {%else%}
              <img class="" style="width: 50%" src="{{ row.book_object.favorite_cover }}" alt="Card image cap">
              {%endif%}
            </div>
            <div class="col" style="width: 50%;">
              <div class="card-block">
                <h4 class="card-title">{{ row.title }}</h4>
                <p class="card-text posts-text text-truncate">{{ row.content }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        {% endif %}
      </div>

      <!--Dsiplay library (only favorites for now)-->
      <div class="col">
        <p class="text-center title"><b>Your library</b></p>
        {% if favorite_books %}
        <p class="text-left title"><b>Favorite books</b></p>
        <div class="card-deck fav-book-cards">
          {% for book in favorite_books|slice:":5" %}
          <div class="card mb-4 h-100">
            {% if book.favorite_cover == 'no_book' %}
            <img class="card-img-top img-fluid" src="https://www.freeiconspng.com/uploads/no-image-icon-6.png"
              alt="Card image cap">
            {%else%}
            <img class="card-img-top img-fluid" src="{{book.favorite_cover}}" alt="Card image cap">
            {%endif%}
            <div class="card-body">
              <p class="card-title">{{book.favorite_title}}</p>
            </div>
          </div>
          {%endfor%}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!--{% if following or followers %}
    <div class="jumbotron bg-dark text-white">
      <p class="text-center title"><b>Following:</b></p>
      {% for usering in following %}
      <li> {{ usering.following_user.username }}</li>
      {% endfor %}
      <p class="text-center title"><b>Followers:</b></p>
      {% for userer in followers %}
      <li> {{ userer.user.username }}</li>
      {% endfor %}
    </div>
  {% endif %}-->
  
  {% endif %}

</body>

</html>