<html>

<head>
  <meta charset="utf-8">
  <title>Profile</title>
  {% include "bootstrap.html" %}
  {% load static %}
  <link rel="stylesheet" href="{%static 'CSS/personalization.css' %}" />
</head>

<body>
  {% include "nav.html" %}
  {% if not profile.about_user%}
  <div class="row">
    <div class="col-12">
      <div class="container" align="center">
        <form method="GET" action="/personalization/edit_profile/{{ profile.id }}/">
          <br><br><br><br><br><br><br><br><br><br>
          <input type="submit" class="btn btn-success btn-lg first-btn" value="Create Profile">
        </form>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container-fluid px-0 prof-container">
    <div class="row text-center no-gutters">
      <div class="col-md-3 profile-card">
        {% if profile.personal_image %}
        <img class="prof-img rounded-circle" src="{{profile.personal_image.url }}" alt="Card image cap">
        {% else %}
        <img class="prof-img rounded-circle" src="{%static 'permanent_images/default_profile.png' %}"
          alt="Card image cap">
        {% endif %}
        <h3 class="text-center prof-h3">{{ profile.user }}</h3>
      </div>
      <div class="col prof-text">
        <div class="d-flex p-2">
          <p class="psteps" style="margin-bottom: 0;">{{ profile.about_user|linebreaksbr }}</p>
        </div>
      </div>
      <div class="col-sm-2 align-self-center">
        <td><a class="btn btn-warning btn-lg " href="/personalization/edit_profile/{{ profile.id }}/">Edit</a>
      </div>
    </div>
  </div>

  <div class="container-fluid px-0 prof-container">
    <div class="row text-center no-gutters">
      <div class="col-md-3">
        <p class="text-center title"><b>Posts</b></p>
        {% if posts %}

        {% for row in posts|slice:":5" %}
        <div class="card">
          <div class="row no-gutters">
            <div class="col-auto" style="width: 50%;">
              {% if row.book_object.favorite_cover == 'no_book' %}
              <img class="" style="width: 50%" src="https://www.freeiconspng.com/uploads/no-image-icon-6.png"
                alt="Card image cap">
              {%else%}
              <img class="" style="width: 50%" src="{{ row.book_object.favorite_cover }}" alt="Card image cap">
              {%endif%}
            </div>
            <div class="col" style="width: 50%;">
              <div class="card-block">
                <h4 class="card-title">{{ row.title }}</h4>
                <p class="card-text posts-text text-truncate">{{ row.content }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        {% endif %}
      </div>
      
      <div class="col">
        <p class="text-center title"><b>Your library</b></p>
        {% if favorite_preview%}
          <p class="text-left title"><b>Favorite books</b></p>
          <div class="cards book-cards">
            {%for book in favorite_preview%}
            <div class="card bg-dark text-white book-card">
              {% if book.1 == 'no_book'%}
              <img class="card-img-top yes-img book-card-img-top"
                src="https://www.freeiconspng.com/uploads/no-image-icon-6.png" alt="Card image cap">
              {%else%}
              <img class="card-img-top yes-img book-card-img-top" src="{{book.1}}" alt="Card image cap">
              {%endif%}
              <div class="card-body">
                <p class="card-text">{{book.0}}</p>
              </div>
            </div>
            {%endfor%}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!--<div class="container">
    <div class="card-columns mx-auto d-flex justify-content-left col-12">
      <div class="card text-center bg-dark text-white" style="width: 14rem;">
        {% if profile.personal_image %}
        <img class="card-img-top yes-img profile-card-img" src="{{profile.personal_image.url }}" alt="Card image cap">
        {% else %}
        <img class="card-img-top no-img" src="{%static 'permanent_images/default_profile.png' %}" alt="Card image cap">
        {% endif %}
        <h3 class="card-text">{{ profile.user }}</h3>
      </div>
      <div class="col-8">
        <p>Hello</p>
      </div>
    </div>
  </div>-->


  <div class="container">

    <!--<div class="jumbotron bg-dark text-white">
      <p class="text-center title"><b>About me:</b></p>
      <p class="psteps">{{ profile.about_user|linebreaksbr }}</p>
    </div>
    <div class="centering text-right">
      <td><a class="btn btn-warning btn-lg " href="/personalization/edit_profile/{{ profile.id }}/">Edit</a><br><br>
    </div>-->

    {% if favorite_preview%}
    <div class="jumbotron bg-dark text-white">
      <p class="text-center title"><b>Favorite books:</b></p>
      <div class="cards book-cards">
        {%for book in favorite_preview%}
        <div class="card bg-dark text-white book-card">
          {% if book.1 == 'no_book'%}
          <img class="card-img-top yes-img book-card-img-top"
            src="https://www.freeiconspng.com/uploads/no-image-icon-6.png" alt="Card image cap">
          {%else%}
          <img class="card-img-top yes-img book-card-img-top" src="{{book.1}}" alt="Card image cap">
          {%endif%}
          <div class="card-body">
            <p class="card-text">{{book.0}}</p>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
    {%endif%}

    <!--{% if posts%}
    <div class="jumbotron bg-dark text-white">
      <p class="text-center title"><b>Posts:</b></p>
      <table id="posts" class="table">
        <thead class="thead-dark">
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Last Modified</th>
          </tr>
        </thead>
        {% for row in posts %}
        <tr>
          <td>{{ row.title }}</td>
          <td>{{ row.content }}</td>
          <td>{{ row.last_modified }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif%}-->

    {% if following or followers %}
    <div class="jumbotron bg-dark text-white">
      <p class="text-center title"><b>Following:</b></p>
      {% for usering in following %}
      <li> {{ usering.following_user.username }}</li>
      {% endfor %}
      <p class="text-center title"><b>Followers:</b></p>
      {% for userer in followers %}
      <li> {{ userer.user.username }}</li>
      {% endfor %}
    </div>
    {% endif %}


  </div>


  {% endif %}

</body>

</html>