<html>

<head>
  <meta charset="utf-8">
  <title>Profile</title>
  {% include "bootstrap.html" %}
  {% load static %}
  <link rel="stylesheet" href="{%static 'CSS/personalization.css' %}"/>
</head>
<body>
  {% include "nav.html" %}
  <div class="row">
    <div class="col-12">
    {% if not profile.about_user%}
    <div class = "container" align = "center">
    <form method="GET" action="/personalization/edit_profile/{{ profile.id }}/">
      <br><br><br><br><br><br><br><br><br><br>
      <input type="submit" class="btn btn-success btn-lg first-btn" value="Create Profile">
    </form>
    </div>
    </div>
  </div>
  {% else %}



<div class = "container">
  <br>
  <div class="card-columns mx-auto d-flex justify-content-center col-12">
    <div class="card text-center bg-dark text-white" style="width: 18rem;">
      <h3 class="card-text">{{ profile.user }}</h3>
        {% if profile.personal_image %}
        <img class="card-img-top yes-img" src="{{profile.personal_image.url }}" alt="Card image cap">
          {% else %}
        <img class="card-img-top no-img" src="{%static 'permanent_images/default_profile.png' %}" alt="Card image cap">
          {% endif %}
    </div>
  </div>
</div>



<div class = "container">


  <div class="jumbotron bg-dark text-white">
    <p class="text-center title"><b>About me:</b></p>
    <p class="psteps">{{ profile.about_user|linebreaksbr }}</p>
  </div>
  <div class="centering text-right">
    <td><a class="btn btn-warning btn-lg " href="/personalization/edit_profile/{{ profile.id }}/">Edit</a><br><br>
  </div>

{% if favorite_preview%}
  <div class="jumbotron bg-dark text-white">
  <p class="text-center title"><b>Favorite books:</b></p>
  <div class = "cards book-cards">
    {%for book in favorite_preview%}
      <div class="card bg-dark text-white book-card">
        {% if book.1 == 'no_book'%}
          <img class="card-img-top yes-img book-card-img-top" src="https://www.freeiconspng.com/uploads/no-image-icon-6.png" alt="Card image cap">
        {%else%}
          <img class="card-img-top yes-img book-card-img-top" src="{{book.1}}" alt="Card image cap">
        {%endif%}
      <div class = "card-body">
        <p class = "card-text" >{{book.0}}</p>
      </div>
      </div>
    {%endfor%}
  </div>
</div>
{%endif%}

{% if posts%}
  <div class="jumbotron bg-dark text-white">
  <p class="text-center title"><b>Posts:</b></p>
  <table id="posts" class="table">
      <thead class="thead-dark">
          <tr>
              <th>Title</th>
              <th>Content</th>
              <th>Last Modified</th>
          </tr>
      </thead>
      {% for row in posts %}
          <tr>
              <td>{{ row.title }}</td>
              <td>{{ row.content }}</td>
              <td>{{ row.last_modified }}</td>
          </tr>
      {% endfor %}
  </table>
  </div>
{% endif%}


</div>


      {% endif %}

</body>

</html>
